$i: 1;

.parent {
    width: $i/1.3+px;
    height: $i/1.3+0px;

    height: $i/1.3*1px; // this is OK and no issue is raised, recommended workaround
}

$ee-icons: (
      1gb                 : "\e06e",
      3g                  : "\e06d",
      3gb                 : "\e06c",
      4g                  : "\e06b",
      4gee                : "\e06a",
      4gee-resumptive     : "\e069",
      4gee-streaming      : "\e068",
)

a { width: 42pixels; } // Noncompliant
