# Maven
target/
bin/
.flattened-pom.xml

lib/
node_modules/
coverage/
test-report.xml

packages/jsts/src/rules/*/generated-meta.ts
packages/grpc/src/proto/language_analyzer.js
packages/grpc/src/proto/language_analyzer.d.ts
sonarjs-1.0.0.tgz

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
.classpath
.project
.settings

# Visual Studio
.vs/

# VS Code
.vscode/

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# ---- Sonar
.sonar
.scannerwork

# eslint-plugin-sonarjs
eslint-plugin-sonarjs-*.tgz
its/eslint8-plugin-sonarjs/package-lock.json
its/eslint9-plugin-sonarjs/package-lock.json

/resources
node-info.properties

# coverage
.nyc_output/
lcov.info

.claude
