# Maven
target/
bin/

lib/
node_modules/
coverage/
test-report.xml

sonarjs-*

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
.classpath
.project
.settings

# Visual Studio
.vs/

# VS Code
.vscode/

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# ---- Sonar
.sonar
.scannerwork

# eslint-plugin-sonarjs
eslint-plugin-sonarjs-*.tgz
its/eslint8-plugin-sonarjs/package-lock.json
its/eslint9-plugin-sonarjs/package-lock.json
