{
  "extension": [".ts"],
  "include": ["packages/**/src/**/*.ts"],
  "exclude": ["**/*.test.ts", "**/*.d.ts", "node_modules/**"],
  "reporter": ["lcov", "text-summary"],
  "report-dir": ".",
  "all": true
}
