.github
coverage
sonarpedia.json
lib

packages/*/tests/**/fixtures
packages/jsts/src/rules/*/*.fixture.*
packages/jsts/src/rules/*/fixtures

its/css-sources
its/sources
its/typescript-test-sources

its/plugin/projects
its/plugin/tests/target

its/ruling/src/test/resources
its/ruling/src/test/expected
its/ruling/target

sonar-plugin/css/target
sonar-plugin/css/src/test/resources
sonar-plugin/css/src/main/resources

sonar-plugin/javascript-checks/target
sonar-plugin/javascript-checks/src/main/resources

sonar-plugin/sonar-javascript-plugin/target
sonar-plugin/sonar-javascript-plugin/src/test/resources

typedoc/site
typedoc/models

tools/fetch-node/downloads
