language: java
sudo: false

jdk: openjdk11

node_js:
  - "8"

git:
  submodules: false

install: true
script: ./travis.sh
env:
  - TEST=ci
matrix:
  fast_finish: true

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/maven'

before_cache:
  - rm -rf $HOME/.m2/repository/org/sonarsource/javascript
  - find $HOME/.m2 -name resolver-status.properties -exec rm {} \;

notifications:
  email: false
  webhooks:
    - secure: "MkIJ+5kB2WYajjljfM3wLX32JryncADui3mfl80GQMLJcsx7V4K+Brcmla9ZEASI8D4djg4uuvWpWvsArWnGgpXf3JTwINYpZmW6TgnUPd9u5GQkEb4cf2NBhSziujwTPK5wMRZP8CjuOGa4LwqTLxMXymGay8SP/N9xK+FdlTY="
