enableImpactAnalysis=True
excludes=**/*sources.jar **/*javadoc.jar **/its/plugin/projects/** eslint-bridge/tests/**
fileSystemScan=False
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.ignoredScopes=None
maven.m2RepositoryPath=.m2/repository
maven.resolveDependencies=True
maven.runPreStep=False

npm.includeDevDependencies=True
npm.resolveDependencies=True
npm.resolveLockFile=False
npm.runPreStep=False
npm.runPreStep=False
npm.yarnProject=True

wss.url=https://saas-eu.whitesourcesoftware.com/agent
