# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

excludes=**/*sources.jar **/*javadoc.jar **/its/plugin/projects/** eslint-bridge/tests/**
fileSystemScan=False
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.m2RepositoryPath=.m2/repository
maven.resolveDependencies=True
maven.runPreStep=False

npm.includeDevDependencies=True
npm.resolveDependencies=True
npm.resolveLockFile=False
npm.runPreStep=False
npm.yarnProject=True

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true
