enableImpactAnalysis=True
resolveAllDependencies=False
maven.resolveDependencies=True
maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.m2RepositoryPath=.m2/repository
npm.resolveDependencies=True
npm.includeDevDependencies=True
excludes=**/*sources.jar **/*javadoc.jar **/its/plugin/projects/** eslint-bridge/tests/**
wss.url=https://saas.whitesourcesoftware.com/agent

gradle.runPreStep=False
maven.runPreStep=False
npm.runPreStep=False
