___HEADER___// https://sonarsource.github.io/rspec/#/rspec/___RULE_KEY___/javascript
import { test } from '../../../tests/tools/testers/comment-based/checker.js';
import { rule } from './index.js';
import { describe } from 'node:test';
import * as meta from './generated-meta.js';

describe(`Rule ___RULE_KEY___`, () => {
  test(meta, rule, import.meta.dirname);
});
