___HEADER___
package org.sonar.javascript.checks;

import java.util.Arrays;
import java.util.List;
import java.util.Map;
import java.util.Set;
import org.sonar.plugins.javascript.api.EslintHook;
import org.sonar.plugins.javascript.api.Language;

public class AllChecks {
  private AllChecks() {
    throw new IllegalStateException("Utility class");
  }

  protected static final List<Class<? extends EslintHook>> rules = Arrays.asList(
    ___JAVACHECKS_CLASSES___
  );

  protected static final List<String> defaultQualityProfileNames =
    ___DEFAULT_QUALITY_PROFILE_NAMES___;

  protected static final Map<String, Map<Language, Set<String>>> defaultQualityProfileRuleKeys =
    Map.ofEntries(
      ___DEFAULT_QUALITY_PROFILE_RULE_KEYS___
    );
}
