___HEADER___
// https://sonarsource.github.io/rspec/#/rspec/___RULE_KEY___/javascript
package org.sonar.javascript.checks;

import org.sonar.check.Rule;
___IMPORTS___

___DECORATORS___
@Rule(key = "___RULE_KEY___")
public class ___RULE_KEY___ extends ___FILE_TYPE_CHECK___ {
___BODY___
}
