name: Automated Release
on:
  workflow_dispatch:
    inputs:
      release-notes:
        description: "Notes for the GitHub release (Markdown supported)"
        required: true
        type: string
      short-description:
        description: "Short description for the REL ticket"
        required: true
        type: string
      sqc-integration:
        description: "Integrate into SQC"
        type: boolean
        default: true
      sqs-integration:
        description: "Integrate into SQS"
        type: boolean
        default: true
      branch:
        description: "Branch from which to do the release"
        required: true
        default: "master"
        type: string
      new-version:
        description: "New version to release (without -SNAPSHOT; if left empty, the current minor version will be auto-incremented)"
        required: false
        type: string
      rule-props-changed:
        description: >
          "@RuleProperty" changed? See SC-4654
        type: boolean
        default: false

jobs:
  release:
    name: Release
    uses: SonarSource/release-github-actions/.github/workflows/automated-release.yml@v1
    permissions:
      statuses: read
      id-token: write
      contents: write
      actions: write
      pull-requests: write
    with:
      project-name: "SonarJS"
      plugin-name: "javascript"
      jira-project-key: "JS"
      rule-props-changed: ${{ github.event.inputs.rule-props-changed }}
      release-notes: ${{ github.event.inputs.release-notes }}
      short-description: ${{ github.event.inputs.short-description }}
      new-version: ${{ github.event.inputs.new-version }}
      sqc-integration: ${{ github.event.inputs.sqc-integration == 'true' }}
      sqs-integration: ${{ github.event.inputs.sqs-integration == 'true' }}
      branch: ${{ github.event.inputs.branch }}
      pm-email: "gabriel.vivas@sonarsource.com"
      slack-channel: "squad-web"
      verbose: true
      use-jira-sandbox: false
      is-draft-release: false

  bump_versions:
    name: Bump versions
    needs: release
    uses: ./.github/workflows/bump-versions.yml
    permissions:
      contents: write
      pull-requests: write
    with:
      version: ${{ needs.release.outputs.new-version }}
