name: Bump versions
on:
  workflow_call:
    inputs:
      version:
        description: The new version
        required: true
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: The new version
        required: true
        type: string

jobs:
  bump-version:
    runs-on: github-ubuntu-latest-s
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - name: Update version in pom.xml
        env:
          VERSION: ${{ inputs.version }}
        run: |
          snapshot_version="${VERSION}-SNAPSHOT"
          # Update the revision property in root pom.xml to the new snapshot version
          sed -i "s/<revision>.*-SNAPSHOT<\/revision>/<revision>${snapshot_version}<\/revision>/" pom.xml
      - uses: peter-evans/create-pull-request@v8
        with:
          author: ${{ github.actor }} <${{ github.actor }}>
          commit-message: Prepare next development iteration
          title: Prepare next development iteration
          branch: bot/bump-project-version
          branch-suffix: timestamp
          base: master
          reviewers: ${{ github.actor }}