name: Request review

on:
  pull_request:
    types: ["review_requested"]

jobs:
  MoveCardToReview_job:
    name: Move card to review
    runs-on: ubuntu-latest
    # PRs from forks don't have required token authorization
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - uses: sonarsource/gh-action-lt-backlog/MoveCardToReview@v1
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          column-id: 16320793     # Kanban "In review" column
